// GLOBAL STYLES THAT CAN BE USED ALL PLACES;
// remove gutters for 
// 0px gutter
.no-gutter.row {
  margin-right: 0px;
  margin-left: 0px;
}

.no-gutter > [class^="col-"], .no-gutter > [class^=" col-"]{
  padding-right: 0px;
  padding-left: 0px;
}

// 4px gutter
.gutter-2.row {
  margin-right: 2px;
  margin-left: 2px;
}

.gutter-2 > [class^="col-"], .no-gutter > [class^=" col-"]{
  padding-right: 2px;
  padding-left: 2px;
}

// toying with the idea of an image overlay
.color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #19198c;
   opacity: 0.4;
}