$icon-font-path: '../fonts/';

// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
@import 'bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss';
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//Theme:
@import 'theme/_variables.scss';
	// should me the reusable component's to the theme
		// Reusable Components:
		@import 'components/_header.scss';
		
		
		// Alerts
		@import 'components/_alerts.scss';
		// Breadcrumb
		@import 'components/_breadcrumb.scss';
		// Buttons
		@import 'components/_buttons.scss';
		// Button group
		// Card
		// Carousel
		@import 'components/_carousel.scss';
		// Collapse
		// Dropdowns
		// Forms
		// Input group
		// Jumbotron
		// List group
		// Modal
		// Navs
		// Navbar
		@import 'components/_navbar.scss';
		// Pagination
		// Popovers
		// Progress
		// Scrollspy
		// Tag
		// Tooltips

// Global Utilise:
@import '_global.scss';

// Sections:
// HEADERS:

@import 'components/_main-carousel.scss';
@import 'components/_main-marketing-cards.scss';
@import 'components/_marketing-carousel.scss';
@import 'components/_facts.scss';
@import 'components/_portfolio.scss';
@import 'components/_testamonial.scss';
@import 'components/_home-blog.scss';
@import 'components/_footer.scss';

// Pages: 

// Blog Page sections:
@import 'components/_blog-roll.scss';
@import 'components/_blog-pagination.scss';

// About Page Sections:
@import 'components/_about-our-team.scss';

// Blog Post Page Sections:
@import 'components/_blog-post.scss';

// Small devices (landscape phones, 544px and up)
// @media (min-width: 544px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }