$icon-font-path: '../fonts/';

// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Global:
@import '_global.scss';

// components:
@import 'components/_main-carousel.scss';
@import 'components/_main-marketing-cards.scss';
@import 'components/_marketing-carousel.scss';
@import 'components/_facts.scss';
@import 'components/_portfolio.scss';
@import 'components/_testamonial.scss';
@import 'components/_blog-home.scss';