section.main-marketing-cards {

	.card {
		border: 1px solid rgba(255,255,255,0);
	}

	.main-marketing-card-img {
		display: block;
    margin-left: auto;
    margin-right: auto;
	}

	.card-block {
		text-align: center;
	}

}