header.main-header {
	position: relative;
	top: 0;
	left: 0;
	min-height: 100vh;
	max-width: 100vw;
	background-color: $gray-lighter;
	

	.header-background {

		img {
			width: 100%;
		}
	}
}

// Ex small:
// @media (0px - 543px)

// Small Devices:
// @media (min-width: 544px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }
// 768 X 1024

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
