section.main-marketing-cards {
	
	.card {
		border: 1px solid $gray;
	}

	.card-block {
		position: relative;
		min-height: 31vh;
		text-align: center;

		img {
			width: 4rem;
			margin-bottom: 1rem;
		}

		.card-wrapper {
			position: absolute;
  		top: 50%;
  		transform: translateY(-50%);
		}
	}

}