// this is going to be more layout type stuff I think:
section.blog {
	.card {
		border: 0px;
		margin-bottom: 0rem;
		min-height: 278px;
	}

	.blog-date {
		position: absolute;
		bottom: 1rem;
		font-size: .75rem;
	}

}