// === BLOG POST === //
div.blog-post {

	section.intro {
		margin-top: 3rem;
		margin-bottom: 3rem;

		.source-title {
			padding-top: 20px;
		}
	}

	section.text {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

}