footer {
	.footer-top {
		padding: 8rem 0;	
	}
	
	
	.center-btn {
		display: block;
		margin: auto;
	}

	.footer-bottom {
		background-color: black;
		min-height: 6rem;

	}

	p {
		padding-top: 2.5rem;
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
}

