// PORTFOLIO SECTION:
section.portfolio {



	.portfolio-card {
		position: relative;
		border: none;
		color: rgba(255,255,255, 1);

		.card-img-top {
			border-top-right-radius: 0;
			border-top-left-radius: 0;

			img {
				overflow: hidden;
				width: 100%;
			}
		}
		
		.card-block {
			position: absolute;
			bottom: 0px;
			padding: 15px;

			.card-title {
				margin-bottom: 0rem;
			}
		}
	}

	.jumbotron {
		padding: 10px;
		border-radius: 0rem;
	}
}