nav#menu {
  background-color: $gray;
}

.menu-btn {
  margin: 2rem;
}


@media (max-width: 545px) {
  .menu-btn {
    margin: 0;
  }
}

.panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}

.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}