nav.side-menu {
  position: absolute;
  top: 0;
  left: -15rem;
  right: auto;
  z-index: 999;
  min-width: 15rem;
  min-height: 100vh;
  background-color: $gray;

  ul {
    li {
      list-style-type: none;
    }
  }
  
  img {
    width: 5rem;
    margin-left: 1em;
  }

  .brand-text {
    margin-left: 1em;
    display: inline-block;
    color: $white;
  }

}

.menu-btn {
  position: fixed;
  top: 0;
  left: 0rem;
  background-color: $gray;
  z-index: 1000;

}

.open {
  transform: translateX(15rem);
  -webkit-transition-duration: .2s; /* Safari */
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}
